.recommended{
    flex-basis: 30%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6rem;
}
.side-video-list img{
    flex-basis: 49%;
    width: 50%;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0rem 0rem #424243;
}
.vid-info{
    flex-basis: 49%;
}
.vid-info h4{
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
    font-family: "Poppins",'Times New Roman', Times, serif;
    font-weight: 600;
}
.vid-info p{
    font-size: 0.8rem;
    font-family: Poppins;
}
.vid-info p:last-child{
   font-size: 0.7rem;
   font-family: "Roboto",'Times New Roman', Times, serif;
}